# to make package functions available use export(functionName1, functionName2, ...)
useDynLib(kmc)
import(emplik, rootSolve)
importFrom(compiler,cmpfun)
export("kmc.solve","plotkmc2D","print.kmcS3","kmc.bjtest")
